* {
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
  min-width: 576px;
}

.container-fluid {
  padding-left:15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.about {
  height: 100vh;
  background: linear-gradient(to top,
                            rgba(217, 175, 217, 0.7) 0%,
                            rgba(151, 217, 225, 0.7) 100%),
                              url('../images/undraw_manage_chats_ylx0.svg') no-repeat center center fixed; 
                              background-size: cover;

}

.about-inner {
  display: table-cell !important;
  vertical-align: middle;
}

.service {
  background-color: white;
  padding-bottom: 50px;
}

.service-content {
  margin: 0 30px;
  width: 780px;
}
.works {
  height: 100vh;
  background-color: white;
  background: #FEE856;
  color: white;

}

.contact {
  height: 100vh;
  background-color:white;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.site-title {
  margin: 50px;
  font-size: 4.5rem;
}

.site-description {
  margin-bottom: 50px;
  color: #888;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.button:hover {
  opacity: 0.9;
}

.button-orange {
  background-color: #f1b400;
}

.service-title {
  padding-top: 60px;
}

.service-inner {
  padding-bottom: 50px;
  padding-left: 30px;
}

.icon i{
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  color: #dd356e;
}

@media screen and (max-width: 992px){
  .feature-left {
    margin-bottom: 30px;
  }
}
.feature-left {
  display: inline-block;
}

@media screen and (max-width: 768px){
  .feature-copy{
    width:84%;
  }
}

.feature-copy {
  padding-top: 20px;
  padding-left: 30px;
  display: inline-block;
}
